<nav class="navbar navbar-dark default-color">
  <form class="form-inline">
    <div class="md-form my-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </div>
    <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit"> <a href="/search">
        Search </a></button>
  </form>
  {% if user.is_authenticated %}
  
    
      <ul class="nav-item">
          
        <a href="/user/1"> <img
            src='https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-512.png' alt="" height="30px">
        </a>
      </ul>
     
        <ul >
          <a href="/">Home</a>
        </ul>
        <ul>
          <a href="/accounts/password/change">Change Password</a>
        </ul>
        <ul>
          <a href="/logout">Logout</a>
        </ul>
        <ul>
          <a href="/new_user_profile">Create new Profile</a>
        </ul>
        <ul>
          <a href="/business">Business</a>
        </ul>
        <ul>
          <a href="/move">Move</a>
        </ul>
      
    
  
  {% else %}
  <li>
    <a class='btn btn-default' href="/accounts/login">Login</a>
  </li>

  {% endif %}
</nav>